<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Model View Controller 2000!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <strong>Model View Controller 2000!</strong>
        </h1>
        <nav>
          <anchor style="padding: 1rem">
            <a href="/">HOME</a>
          </anchor>
          <anchor style="padding: 1rem">
            <a href="/dashboard">DASHBOARD</a>
          </anchor>
          {{#if loggedIn}}

            <button
              id="logout"
              class="btn-no-style"
              style="font: white"
            >LOGOUT</button>
          {{else}}
            <a href="/login">LOGIN</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}

  </body>

</html>