<form class="login-form">
  <div>
    <label for="username">username:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="login-btn">Login!</button>
  </div>
  <div class="col-2">
    <a href="/signup" class="sign-up-instead">Sign Up instead</a>
  </div>
</form>

<script src="/javascript/login.js"></script>