* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d9e9d3;
  color: #221010;
}

.signup-btn .new-post-btn .add-comment .save-btn .delete-post-btn .login-btn {
  background-color: #666666;
  border: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.signup-btn:hover {
  background-color: #949191;
}

.new-post-btn:hover {
  background-color: #949191;
}

.add-comment:hover {
  background-color: #949191;
}

.save-btn:hover {
  background-color: #949191;
}

.delete-post-btn {
  background-color: #949191;
}

a.sign-up-instead {
  color: #3486eb;
  font-weight: lighter;
  text-decoration: none;
}

a.login-instead {
  color: #3486eb;
  font-weight: lighter;
  text-decoration: none;
}

.sign-up-instead:hover {
  background-color: #3486eb;
  color: white;
}

.login-instead:hover {
  background-color: #3486eb;
  color: white;
}

input#username {
  width: 100%;
}

input#password-login {
  width: 100%;
}

button.login-btn {
  border-radius: 5px;
  background-color: #666666;
  color: white;
  width: 100%;
}

input#username-signup {
  width: 100%;
}

input#password-signup {
  width: 100%;
}

button.signup-btn {
  border-radius: 5px;
  background-color: #666666;
  color: white;
  width: 100%;
}

.post-title {
  color: #d9e9d3;
  text-decoration: none;
}

.post-list {
  margin: 0;
  padding: 0;
}

.comments-link {
  color: #d9e9d3;
  text-decoration: none;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #221010;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  width: 100%;
  height: 150px;
  margin: 0;
  left: 0px;
  margin-left: 0;
  position: relative;
}

header h1 {
  font-size: 3em;
  background-color: #d9e9d3;
  border-radius: 10px;
  box-shadow: 5px 10px #7d7d7d;
  padding: 1rem;
}

a.home {
  color: #d9e9d3;
  text-decoration: none;
  padding: 1rem;
}

a.dashboard {
  color: #d9e9d3;
  text-decoration: none;
  padding: 1rem;
}

a.login-btn {
  color: #d9e9d3;
  text-decoration: none;
  padding: 1rem;
}

main {
  flex: 1;
  padding: 4%;
}

.logout-btn {
  background: none;
  border: none;
  padding: 0px 5px;
  cursor: pointer;
  text-decoration: none;
  color: #d9e9d3;
  font-size: 100%;
  /* font-weight: bold; */
  transition: color 0.1s;
  margin-left: 2px;
}

.logout-btn:hover {
  background: none;
  color: #949191;
}

button.login-btn {
  color: white;
  background-color: #949191;
  border-radius: 5px;
}

button.new-post-btn {
  color: white;
  background-color: #949191;
  border-radius: 5px;
}

/* a.sign-up-instead {
  background-color: #949191;
} */

.save-btn {
  background-color: #666666;
  margin: 0.5rem;
}

.save-btn:hover {
  background-color: #949191;
}

.delete-post-btn {
  background-color: #666666;
  margin: 0.5rem;
}

.delete-post-btn:hover {
  background-color: #949191;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .container {
  background-color: #221010;
  color: #d9e9d3;
  padding: 1rem;
}

#post-text {
  height: 4.5rem;
}

.post .title {
  font-size: 1.5rem;
}
.post .meta {
  font-weight: lighter;
}

.meta {
  text-align: right;
}

.post .text-blk {
  border: solid 3px #221010;
  padding: 1rem;
  color: #221010;
}

.edit-link {
  padding: 1rem;
  margin: 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 100%;
}

.edit-post-form {
  margin-bottom: 5%;
}
